<div class="post" data-name="{{name}}" data-ingredients="{{ingredients}}">
    <div class="post-contents">
    <div class="post-image-container">
        <a href="{{link}}"><img src="{{photoURL}}" alt="{{name}}"></a>
    </div>
    <div class="post-info-container">
        <a href="{{link}}" class="post-title">{{name}}</a> <button type="button" id="myButton" class="action-button">Show Description</button>
    </div>
    </div>
</div>


    <div id="myPopup" class="popup">
        <div class="popup-content">
            <a class ="post-title">{{ingredients}}</a>
            <button id="closePopup">
                  Close
              </button>
        </div>
    </div>